<html>
<body>
<form method="post">
    <input type="text" name="new-item-id" id="new-item-id"/>
    <button type="submit" id="join-button">Join</button>
</form>
<table>
    <thead>
        <tr>
            {{#each table.title}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each table.rows as |row|}}
        <tr id="auction-{{row.id}}">
            {{#each row.cells as |cell|}}
            <td class="{{cell.className}}">{{cell.text}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
</body>
</html>